name: Wagtail Redirects Tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.12" ]
        django-version: [ "5.2.8" ]
        wagtail-version: [ "6.4.2", "7.2" ]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f testproject/requirements.txt ]; then pip install -r testproject/requirements.txt; fi
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi
          python -m pip install "Django==${{ matrix.django-version }}" "Wagtail==${{ matrix.wagtail-version }}"

      - name: Process Code
        run: |
          codespell -S fixtures,migrations,testproject .
          ruff check --output-format=github --select=E9,F63,F7,F82 --target-version=py310 --line-length=100 .

      - name: Run Tests
        run: |
          (cd "testproject" && DJANGO_SETTINGS_MODULE=testproject.settings.base pytest ../cjk404/tests --disable-pytest-warnings)
